.main_top_left_corner
{
	display: block;
	width: 39px;
	height: 52px;
	background: url(img/t_h_lc.gif) 0 0 no-repeat;
	float: left;
}

#main_top_center
{
	max-width: 951px;
	height:52px;
	text-align: center;
	display:block;
	background-image: url(img/t_h_c.gif);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	overflow: hidden;
}
.main_top_right_corner
{
	display: block;
	width: 39px;
	height: 52px;
	background: url(img/t_h_rc.gif) 0 0 no-repeat;
	float: left;
}
.main_mid_left
{
	width: 38px;
	background-image: url(img/t_h_l_b.gif);
	background-repeat: repeat-y;
}
.main_mid_content
{
	max-width: 956px;
	background-color: #37301D;
	text-align: center;
}
.main_mid_right
{
	width: 38px;
	background-image: url(img/t_h_r_b.gif);
	background-repeat: repeat-y;
}
.main_bot_left
{
	display: block;
	float: left;
	background-image: url(img/t_b_lc.gif);
	height: 28px;
	width:40px
}
#main_bot_center
{
	height: 28px;
	float: left;
	display: block;
	background-image: url(img/t_b_c.gif);
	background-repeat: repeat-x;
}
.main_bot_right
{
	display: block;
	float: left;
	background-image: url(img/t_b_rc.gif);
	height: 28px;
	width:40px
}
#content
{
	max-width: 956px;

}
.shadetabs{padding:3px 0;margin-left:0;margin-top:1px;margin-bottom:0;font:bold 12px Verdana;list-style-type:none;text-align:left;}
.shadetabs li{display:inline;margin:0;}
.shadetabs li a{text-decoration:none;position:relative;z-index:1;padding:3px 7px;margin-right:3px;border:1px solid #778;color:#2d2b2b;background:white url(img/shade.gif) top left repeat-x;}
.shadetabs li a:visited{color:#2d2b2b;}
.shadetabs li a:hover{text-decoration:underline;color:#2d2b2b;}
.shadetabs li a.selected{position:relative;top:1px;}
.shadetabs li a.selected{background-image:url(img/shadeactive.gif);border-bottom-color:white;}
.shadetabs li a.selected:hover{text-decoration:none;}
.tabcontent{display:none;}
@media print{.tabcontent{display:block !important;}
}

div.block_name{font-weight:bolder;color:#FFFFFF;}
div{font-size:12px;}
a{font-weight:bold;color:#0099FF;text-decoration:none;cursor:url('cursors/hand.cur'), auto;}
a:hover{color:#FFFFFF;text-decoration:underline;font-weight:bold;}
#valid{height:77px;right:0px;position:fixed;bottom:0px;width:85px;z-index:2;}
#frm{height:150px;left:0;position:fixed;top:0;width:150px;z-index:2;}
table{border-collapse:collapse;font-size:12px;}
td.maxCp{color:orange;}
td.maxHp{color:red;}
td.maxMp{color:#0099ff;}
tr, td.header{font-weight:bold;font-size:16px;}
tr, td.content{font-size:14px;}
li.vote{color:#efde05;}
tr.altRow{background-color:#505050;}
tr.row
{
    height: 15px;
}
tr.row:hover
{
    background-color: #505050;
}
td.records{color:#a1967c;}
td.noborder{border-bottom-width:0;border-left-width:0;border-right-width:0;border-top-width:0;}
ol, ul, li.left{text-align:left;}
input.login{border:0 none;background:url("img/login_text.gif") 0% 0% no-repeat scroll transparent;color:rgb(217, 222, 218);width:129px;}
.style3{font-size:16px;font-weight:bold;color:#7fff00;}
.style7{font-weight:bold;color:#ff4500;}
td, pre{font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;font-size:11px;color:#ffffff;margin:5px;}
.error{color:#990000;padding:7px;margin-top:5px;margin-bottom:10px;border:1px dashed #990000;}
.error b{color:#990000;background:inherit;}
.success{color:#7ba813;padding:7px;margin-top:5px;margin-bottom:5px;border:1px dashed #7ba813;}
.success b{color:#7ba813;background:inherit;}
.warning{color:#F2B90F;padding:7px;margin-top:5px;margin-bottom:5px;border:1px dashed #F2B90F;}
.warning b{color:#F2B90F;background:inherit;}
h1{font-size:16px;color:#7ba813;text-align:center;font-weight:bold;}
h2{font-size:16px;color:#7daa94;text-align:center;}
h3{font-size:16px;color:teal;text-align:center;}
h4{font-size:16px;color:#fecc64;text-align:center;}
.online_stat_table{border:1px solid #fffff5;width:100%;}
.tcclass{width:100%;}
.b1{border-bottom:1px solid #a1967c;}
.b2{border-right:1px solid #a1967c;background-color:#223140;color:#beb49c;font-weight:bold;}
.b3{border-right:1px solid #a1967c;border-bottom:5px solid #a1967c;}
a.male{color:#688595;text-decoration:none;}
a.female{color:#d02090;text-decoration:none;}
.alert{width:100%;padding:1em;color:#cc6666;font-size:220%;text-align:justify;}
input.button{border:3px ridge #4e0901;font-weight:bold;background-color:#4e0901;color:aqua;}
#castleinfo{font-family:Arial, Helvetica, sans-serif;font-size:10px;color:#000000;visibility:visible;position:absolute;width:160px;height:347px;z-index:8;left:40px;top:200px;overflow:auto;}
#adeninfo{visibility:hidden;}
#dioninfo{visibility:hidden;}
#giraninfo{visibility:hidden;}
#gludioinfo{visibility:hidden;}
#innadrilinfo{visibility:hidden;}
#oreninfo{visibility:hidden;}
#godadinfo{visibility:hidden;}
#castleinfo strong{font-family:Verdana, Arial, Helvetica, sans-serif;}
.menu a{
    color: #CCCCCC;
}
.page-choose
{
    text-align: center;
    font-family:  Tahoma;
    font-size: 14px;
    border: 0px solid white;
    font-weight: bold;
}

.btn { display: block; text-align: center; background-color: black; background: #aaa; padding: 5px; color: #fff; text-decoration: none; width: 15px; font-size: 12px; cursor: pointer;}
.btn * { font-style: normal; background-image: url(./img/btn2.png); background-repeat: no-repeat; display: block; text-align: center; font-size: 12px; }

.btn.blue { background: #2ae; }
.btn.green { background: #9d4; }
.btn.pink { background: #e1a; }
.btn.brown { background: #453535; }
.btn:hover { background-color: #553E3D; }
.btn:active { background-color: #444; }
.btn[class] {  background-image: url(./img/shade.png); background-position: bottom; }

#inventory { 
	width: 310px; 
	height: 408px; 
	margin: 5px;
	background: url('../../img/inventory/inventory.png'); 
	vertical-align: top;
	background-position: left top;
	background-repeat: no-repeat;
	padding: 0px;
	/*padding: 67px 0px 0px 0px;*/
	border: 1px solid transparent;
}
#inventory_items {
	margin: 67px 0px 0px 20px;
	width: 268px;
	height: 288px;
	overflow: auto;
	position: relative;
	padding: 1px 0px 0px 2px;
	background: url(../../img/inventory/line.gif);
	background-repeat: repeat-y;
	background-attachment: scroll;
}
img.floated {
	float: left;
	position: relative;
	padding: 0px 4px 4px 0px;
	width: 32px;
	height: 32px;}
.clearfloat {
	clear:both; height:0px;
	line-height:0px; visibility: hidden;}
#inventory_items .scrollgeneric {
	line-height: 1px;
	font-size: 1px;
	position: absolute;
	top: 0; 
	left: 0;}
#inventory_items .vscrollerbase {
	width: 15px;
	background-color: white;}
#inventory_items .vscrollerbar {
	width: 15px;
	background-color: black;}
#inventory_items .vscrollerbar {
	background: #99CBCB url(../../img/inventory/basebarcaps.png) -15px 0px repeat-y;}
#inventory_items .vscrollerbar {
	padding: 15px;
	z-index: 2;}
#inventory_items .vscrollerbarbeg {
	background: url(../../img/inventory/basebarcaps.png) -45px 0px no-repeat;
	width: 15px;
	height: 15px !important;}
#inventory_items .vscrollerbarend {
	background: url(../../img/inventory/basebarcaps.png) -45px -30px no-repeat;
	width: 15px;
	height: 15px;}
#inventory_items .vscrollerbase {
	background: #D7EBDF url(../../img/inventory/basebarcaps.png) 0px 0px repeat-y;}
#inventory_items .vscrollerbasebeg {
	background: url(../../img/inventory/basebarcaps.png) -30px 0px no-repeat;
	width: 15px;
	height: 15px !important;}
#inventory_items .vscrollerbaseend {
	background: url(../../img/inventory/basebarcaps.png) -30px -30px no-repeat;
	height: 15px;
	width: 15px;}
#inventory_items .scrollerjogbox:hover {
	background: #5E828C url(../../img/inventory/basebarcaps.png) -45px -15px;}

#paperdoll {
	width: 310px; 
	height: 291px; 
	margin: 5px;
	background: url(../../img/inventory/paperdoll.png); 
	vertical-align: top;
	background-position: left top;
	background-repeat: no-repeat;
	padding: 0px;
	border: 1px solid transparent;
}
#paperdoll_items {
	margin: 75px 0px 0px 30px;
	width: 245px;
	height: 149px;
	position: relative;
}
#paperdoll #item {
	position: absolute;
	width: 32px;
	height: 32px;
	padding: 0px;
}
#paperdoll .hidden{ 
	display:none;
}

#paperdoll .lefthair{ 
	margin-left: 0px;
	margin-top: 0px;
}
#paperdoll .helmet{ 
	margin-left: 39px;
	margin-top: 0px;
}
#paperdoll .righthair{ 
	margin-left: 78px;
	margin-top: 0px;
}
#paperdoll .dress{ 
	margin-left: 0px;
	margin-top: 38px;
}
#paperdoll .top{ 
	margin-left: 39px;
	margin-top: 38px;
}
#paperdoll .cloak{ 
	margin-left: 78px;
	margin-top: 38px;
}
#paperdoll .gloves{ 
	margin-left: 0px;
	margin-top: 76px;
}
#paperdoll .lower{ 
	margin-left: 39px;
	margin-top: 76px;
}
#paperdoll .bots{ 
	margin-left: 78px;
	margin-top: 76px;
}
#paperdoll .weapon{ 
	margin-left: 0px;
	margin-top: 114px;
}
#paperdoll .shield{ 
	margin-left: 78px;
	margin-top: 114px;
}

#paperdoll .leftearring{ 
	margin-left: 132px;
	margin-top: 0px;
}
#paperdoll .necklace{ 
	margin-left: 171px;
	margin-top: 0px;
}
#paperdoll .rightearring{ 
	margin-left: 210px;
	margin-top: 0px;
}
#paperdoll .leftring{ 
	margin-left: 132px;
	margin-top: 38px;
}
#paperdoll .ring{ 
	margin-left: 171px;
	margin-top: 38px;
}
#paperdoll .rightring{ 
	margin-left: 210px;
	margin-top: 38px;
}
#paperdoll .braslet{
	margin-left: 132px;
	margin-top: 88px;
}
#paperdoll .belt{ 
	margin-left: 39px;
	margin-top: 114px;
}
.contenido-footer {
background:url("img/footer_01.gif") no-repeat scroll left top transparent;
height:10px;
}
.contenido-footer-derecha {
background:url("img/footer_03.gif") no-repeat scroll right top transparent;
overflow:hidden;
width:100%;
}
.medio-footer {
background:url("img/footer_02.gif") repeat-x scroll 0 0 transparent;
height:10px;
line-height:50px;
margin-left:5px;
margin-right:5px;
text-align:center;
}
.contenido-medio-footer {
background:url("img/footer_04.gif") repeat-y scroll left top transparent;
}
.contenido-medio-footer-derecha {
background:url("img/footer_06.gif") repeat-y scroll right top transparent;
overflow:hidden;
width:100%;
}
.medio-medio-footer {
background:url("img/back.gif") repeat scroll 0 0 transparent;
font-size:12px;
line-height:21px;
margin-left:5px;
margin-right:5px;
}
.contenido-abajo-footer {
background:url("img/footer_07.gif") no-repeat scroll left top transparent;
height:10px;
}
.contenido-abajo-footer-derecha {
background:url("img/footer_09.gif") no-repeat scroll right top transparent;
overflow:hidden;
width:100%;
}
.medio-abajo-footer {
background:url("img/footer_08.gif") repeat-x scroll 0 0 transparent;
height:10px;
line-height:50px;
margin-left:5px;
margin-right:5px;
text-align:center;
}
.img_resize {
max-width: 360px;
height: auto !important;
width: expression(this.width > 360 ? 360: true);
}
p {
    text-align: justify;
    font-size: 12px;
    font-weight: normal;
}




#debug-bar {
    -moz-transition: bottom 0.13s ease-in-out 0s;
    bottom: 0px;
    position: fixed;
    width: 100%;
    z-index: 990;
    cursor: pointer;
}
#debug-bar-bar-container {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: -moz-linear-gradient(center top , #FFFFFF, #EFEFEF) repeat scroll 0 0 #F6F6F6;
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 1px 0;
    box-shadow: 0 4px 5px #444444;
    color: #000000;
    position: relative;
}
#debug-bar-bar {
    /*cursor: pointer;*/
    height: 44px;
    line-height: 44px;
}
#debug-bar-content {
    height: auto;
    background-color: white;
}


.debug-bar-group {
    height: 44px;
    line-height: 44px;
    padding: 0 8px;
    position: relative;
}
.yt_button
{
    /*border-color:#999;
    cursor: pointer;
    margin: 0 2px 0 0;
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-transition: all 0.218s ease 0s;
    background-image: -moz-linear-gradient(center top , #FFFFFF 0pt, #E0E0E0 100%);
    border-color: #CCCCCC #CCCCCC #AAAAAA;
    border-radius: 15px 15px 15px 15px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 1px #FFFFFF inset;
    color: #555555;
    font-size: 11px;
    font-weight: bold;
    height: 2.95em;
    padding: 0 0.91em;
    text-shadow: 0 0 0 transparent, 0 1px 0 #FFFFFF;*/
        
    
    text-shadow:0 1px 0 #fff;
        font-weight: bold;
    height: 2.95em;
    padding: 0 0.91em;
    
    border:1px solid #ccc;
    border-bottom-color:#aaa;
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#ffffff,EndColorStr=#e0e0e0);
    background-image:-moz-linear-gradient(top,#fff 0,#e0e0e0 100%);
    background-image:-ms-linear-gradient(top,#fff 0,#e0e0e0 100%);
    background-image:-o-linear-gradient(top,#fff 0,#e0e0e0 100%);
    background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#fff),color-stop(100%,#e0e0e0));
    background-image:-webkit-linear-gradient(top,#fff 0,#e0e0e0 100%);
    background-image:linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
    -moz-box-shadow:inset 0 0 1px #fff;
    -ms-box-shadow:inset 0 0 1px #fff;
    -o-box-shadow:inset 0 0 1px #fff;
    -webkit-box-shadow:inset 0 0 1px #fff;
    box-shadow:inset 0 0 1px #fff
}
.yt_button:hover
{
    border-color:#999;
    background:#f3f3f3;
    background-image:-moz-linear-gradient(top,#ffffff,#ebebeb);
    background-image:-webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#ebebeb));
    filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ffffff,endColorStr=#ebebeb);
    outline:0;-moz-box-shadow:0 0 3px #999;
    -webkit-box-shadow:0 0 3px #999;box-shadow:0 0 3px #999;
    
}

.holding input
{
    border:none!important;
    -webkit-box-shadow:0 -1px 0 rgba(0,0,0,.3),inset 0 1px 2px rgba(0,0,0,.2);-moz-box-shadow:0 -1px 0 rgba(0,0,0,.3),inset 0 1px 2px rgba(0,0,0,.2);box-shadow:0 -1px 0 rgba(0,0,0,.3),inset 0 1px 2px rgba(0,0,0,.2);
    background-color:white;
    color:#567792;
    opacity:.7;
    -webkit-transition:opacity 1s;-moz-transition:opacity 1s;-o-transition:opacity 1s;
}
.holding:hover, .holding:focus input
{
    opacity:.9;-webkit-box-shadow:0 -1px 0 rgba(0,0,0,.4),inset 0 1px 2px rgba(0,0,0,.3);-moz-box-shadow:0 -1px 0 rgba(0,0,0,.4),inset 0 1px 2px rgba(0,0,0,.3);box-shadow:0 -1px 0 rgba(0,0,0,.4),inset 0 1px 2px rgba(0,0,0,.3);
}
